/*.inactive-btn:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}*/
.inactive-btn {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

    .inactive-btn:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }

.hotel-logo {
    max-width: 80%;
    position: relative;
    left: 20px;
}

.dropdown-item-sidebar {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

    .dropdown-item-sidebar:hover, .dropdown-item-sidebar:focus {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        background-color: none;
    }

.col-md-2 {
    max-width: none;
}

.table thead th {
    vertical-align: middle;
}

.roomitem {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

    .roomitem:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

.room-details {
    margin-top: 50px;
    margin-bottom: 10px;
}

.btn-book-now {
    border: 1px solid #b0914f;
    padding: 12px 36px;
    background: #b0914f;
    color:#ffffff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

    .btn-book-now:hover {
        background: #ffffff;
        color: #b0914f !important;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
